In [13]:
from pandas import DataFrame, concat, merge

df_a = DataFrame({
    "x": [1,2,3,4,5],
    "integration_aks": ["430 00A0213.01", "430 00A0213.01", "430 00A0213.03", "430 00A0213.02", None]
})

df_b = DataFrame({
    "u": ["a", "b", "c", "d"],
    "integration_aks": ["430 00A0213.00", "430 00A0213.01", "430 00A0213.02", "430 00A0213.03"]
})

print(df_a)

   x integration_aks
0  1  430 00A0213.01
1  2  430 00A0213.01
2  3  430 00A0213.03
3  4  430 00A0213.02
4  5            None

In [15]:
merge(left=df_a, right=df_b, on="integration_aks")

   x integration_aks  u
0  1  430 00A0213.01  b
1  2  430 00A0213.01  b
2  3  430 00A0213.03  d
3  4  430 00A0213.02  c