In [30]:
from pandas import DataFrame, merge, concat

data_a = DataFrame({
    "aks": ["420A1", "420A1", "420B1", "420C1"],
    "tn_alt_a": [2, 2, 3, 4],
})

data_b = DataFrame({
    "aks": ["420A1", "420B1", "420C1"],
    "tn_alt_b": [1, 4, 5],
})

merge = merge(left=data_a, right=data_b, how="left", on="aks")

In [31]:
data_a[data_a["aks"].duplicated()]

     aks  tn_alt_a
1  420A1         2

In [32]:
data_b[data_b["aks"].duplicated()]

Empty DataFrame
Columns: [aks, tn_alt_b]
Index: []

In [36]:

for i, aks in enumerate(merge.aks.unique()):
    merge_sub = merge.loc[merge.aks==aks]

    if len(merge_sub)>1:
        consolidated = merge_sub.loc[merge_sub.tn_alt_a==merge_sub.tn_alt_b]
        if len(consolidated) == 0:
            consolidated = merge_sub
    else:
        consolidated = merge_sub


    if i == 0:
        new_merge = consolidated
    else:
        new_merge = concat([new_merge, consolidated])

In [37]:
new_merge

     aks  tn_alt_a  tn_alt_b
0  420A1         2         1
1  420A1         2         1
2  420B1         3         4
3  420C1         4         5